{{define "title"}}Error{{end}}
{{define "body"}}
<body>
    <header>
    <h1 align="center">
        {{.Form.Status}}
    </h1>
    <h1 align="center">
        {{.Form.Message}}
    </h1>
    </header>
</body>
{{end}}