{{define "title"}}Error{{end}}
{{define "body"}}
    <div class="container text-center">
        <main>
            <p class="m-0 p-0" style="font-size:192px;font-weight: 900;">Oops!</p> 
            <p class="" style="font-size:24px;font-weight: 400;">404 - the requested resource could not be found</p>
            <a class="text-decor-none" href="/">
                <p class="btn-primary text-center m-auto" style="width: 208px;">Go to Homepage</p>
            </a>  
        </main>
    </div>
{{end}}