{{define "title"}}Sign in{{end}}

{{define "body"}}
<body class="grey-background sign-body">
    <div class="login-form m-auto">
        <h1 class="logo-font-fm text-center" style="margin-top:20px;margin-bottom: 30px; font-size:50px;">reservista</h1> 
        <h2 class="m-0">Log in</h2>
        <p>Enter your email address and password to log in</p>
        <form action="" method="post">
            <div class="login-form-body">
                <div>
                    <label for="email">Email address</label>
                    <input class="form-input" type="email" name="email">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input class="form-input" type="password" name="password">
                </div>
            </div>
            <button type="submit" class="btn w-100">Log in</button>
        </form>
        <div class="login-form-footer text-center">
            <p>Don't have an account?
                <a href="/user/register">Register now</a>
            </p>
        </div>
    </div>
</body>
{{end}}