* {
    box-sizing:border-box
}

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.custom-body {
    display: flex;
    align-items: center;
    height: 100vh;
}

.d-flex {
    display: flex;
}

.d-inherit {
    display: inherit;
}

.content-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.flex-clm {
    flex-direction: column;
}

.grey-background {
    background-color: #f5f5f5;
}

.white-background {
    background-color: #fff;
}

.transparent-bg {
    background-color: transparent;
}

.logo-font {
    font-family: "DM Serif Display", serif;
    font-weight: 100;
    color: #000 ;
}

.text-decor-none {
    text-decoration: none;  
}

.m-auto {
    margin: auto;
}

.m-0 {
    margin: 0;
}

.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: 8px;
}

.mt-2 {
    margin-top: 16px;
}

.mt-3 {
    margin-top: 24px !important;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 8px;
}

.mr-1 {
    margin-right: 8px;
}

.mr-2 {
    margin-right: 12px;
}

.ml-1 {
    margin-left: 8px;
}

.ml-2 {
    margin-left: 12px;
}

.p-0 { 
    padding: 0;
}

.pt-0 {
    padding-top: 0;
}

.pb-0 {
    padding-bottom: 0;
}

.text-center {
    text-align: center;
}

.w-100 {
    width: 100%;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
}

.underline {
    color: #0582ca;
    border-bottom: 1px solid #0582ca;
    padding-bottom: 2px;
    transition: ease;
}

.underline:hover {
    color: #0496ff;
    border-color: #0496ff;
}

.login-form {
    width: 500px;
    border: 1px solid #ced4da;
    border-radius: 6px;
    background-color: #fff;
    padding: 30px 50px;
}

.login-form * {
    font-size: 16px;
}

.font-m {
    font-size: 26px;
}

.login-form-body {
    margin: 54px 0;
}

.login-error {
    width: 100%;
    word-break: break-word;
    color: rgb(151, 2, 2);
    font-size: 0.75rem;
    font-weight: bold;
    visibility: visible;
}

.login-error + .form-input   {
    border-bottom: 2px solid #C0392B !important;
}

.form-input {
    width: 100%;
    border: 1px solid #6c757d;
    border-radius: 4px;
    height: 48px;
    padding: 0 16px;
    margin-top: 5px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.navbar p {
    font-size: 14px;
}

.navbar-search {
    width: 100%;
    border: none;
    padding: 0px 16px;
    font-weight: 600;
    width: 300px;
}

.navbar-search:focus, .navbar-search:focus-visible {
    border: none;
    outline: none;
}

.group {
    justify-content: space-between;
}

.card {
    width: auto;
    border-radius: 10px;
    background: #f8f9fa;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 300px;
    height: 200px;
}

.card-bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-body {
    padding: 10px 15px;
}

.card-title {
    font-size: 16px;
    font-weight: 600;
    color: #212529;
}

.card-subtitle {
    font-size: 14px;
    color: #6c757d;
}

.btn {
    background-color: #000;
    color: #fff;
    height: 48px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.btn-primary {
    background-color: #000;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    padding: 8px 24px;
}

.btn:hover {
    cursor: pointer;
}

.container {
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 374px) {
    .container {
        max-width: 350px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}
